#row_bg {
    background-image: url('https://visualstudiomagazine.com/-/media/ECG/visualstudiomagazine/Images/IntroImages2017/0817vsm_pvogelPnetLong.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}