<div class="container" style="min-height: 100vh;">
  <div class="row">
    <div class="col-12 bg bg-primary d-flex justify-content-center align-items-center" style="min-height: 60px;">
      <h3 class="text-white mb-0">
         Users' Json:
      </h3>
    </div>
    <div class="col-12 d-flex justify-content-center bg bg-primary" >
      <form #usersForm="ngForm" class="d-flex flex-column py-3" (ngSubmit)="addUser(usersForm.value)">
        <label for="name" class="text-white">Name</label>
        <input id="name" type="text" [(ngModel)]="userName.name" name="name" placeholder="Add user's name">
        <label for="age" class="text-white mt-2">Age</label>
        <input id="age" type="text" [(ngModel)]="userName.age" name="age" placeholder="Add user's age" class="mt-1">
        <button class="btn text-white border border-3 border-dark mt-3" style="min-width: 200px; background-color: lime;">
          POST
        </button>
      </form>
    </div>
    
  </div>
  <div class="row gy-1 my-5" *ngFor="let user of users$; let i = index" style="min-height: 134px;">
    <div class="col-lg-2 bg bg-light border border-3 border-dark d-flex justify-content-center align-items-center">
      Name: {{ user.name }}
    </div>
    <div class="col-lg-2 bg bg-light border border-3 border-dark d-flex justify-content-center align-items-center">
      Age: {{ user.age }}
    </div>
    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
      <button class="btn btn-info text-white px-5 border border-3 border-dark mb-3" style="min-width: 200px;" (click)="togglePanel[i] = !togglePanel[i]">
        PUT
      </button>
      <div class="d-flex flex-column" *ngIf="togglePanel[i]">
        <div>
          <input type="text" [(ngModel)]="userUpdate.name" name="name" placeholder="Update user's name" class="py-2" style="margin-right: 5px;">
          <button class="btn text-white border border-3 border-dark p-1" (click)="patchName(user.id)" style="background-color: orangered;">
            Patch user's name
          </button>
        </div>
        <div>
          <input type="text" [(ngModel)]="userUpdate.age" name="age" placeholder="Update user's age" class="py-2 my-3" style="margin-right: 5px;">
          <button class="btn text-white border border-3 border-dark px-2 py-1" (click)="patchAge(user.id)" style="background-color: orangered;">
            Patch user's age
          </button>
        </div>
        <button class="btn btn-warning text-white border border-3 border-dark py-0" (click)="updateUsers(user.id)">
          EDIT
        </button>
      </div>

    </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <button class="btn btn-danger text-white px-5 border border-3 border-dark" style="min-width: 200px;" (click)="removeUser(user.id)">
        DELETE
      </button>
    </div>
  </div>
</div>